.card-deck {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  background: transparent;
}

.c1{
  background-image: url(../../resources/images/Horse_rider.jpg);
}
.c2{
  background-image: url(../../resources/images/KnY3.png);
}
.c3{
  background-image: url(../../resources/images/Archer.jpg);
}
  
.card {
  width: clamp(10px, 7vw + 7px, 100px) ;
  height: 500px;
  

  color: #fff;
  box-shadow: 0 0 30px #000;
  border: 1px solid #fff;
  border-radius: 50px;
  text-align: center;
  margin: 10px;

  background-color: #1b1a1a;
  background-size: auto 100%;
  background-position: top center;
  background-repeat: no-repeat;

  transition: 300ms;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card::-webkit-scrollbar{
  display: none;
}

.card:hover {
  box-shadow: 0 0 10px #fff;
  cursor: pointer;
  transition: 300ms;
}
  
.card h2, .card p{
  margin: min(50px, 15vw) min(50px, 9vw);
  opacity: 0;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Dosis', sans-serif;
  text-shadow: 
  0 0 5px #000, 
  0 0 10px #000, 
  0 0 15px #000, 
  0 0 20px #000, 
  0 0 25px #000;

  transition: 200ms;
}

.card h2{
  font-size: var(--fs-xl);
}

.card p{
  font-size: var(--fs-m);
}
  
.card.activeCard {
  width: min(70%, 55rem);
  box-shadow: 
  0 0 10px #fff, 
  0 0 300px 50px #000 inset;
  transition: 800ms;
}

.card.activeCard:hover{
  cursor: pointer;
}
  
.card.activeCard h2, .card.activeCard p{
  opacity: 1;
  
  transition: 200ms;
}