nav {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #232121;
  color: #201e1e;
  height: 60px;
  padding: 0 20px;
  border-radius: 20px;

  scroll-behavior: smooth;

  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

nav::-webkit-scrollbar{
  display: none;
}


nav .logo{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: fit-content;
}

nav .logo img {
  width: var(--size-logo-ic);
  height: var(--size-logo-ic);
  border-radius: 50%;
  margin: 0;
  transition: 300ms;

  cursor: pointer;
}

nav .logo h1{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: var(--size-logo-txt);
  font-weight: 100;
  margin: 0;

  transition: 300ms;
}

nav .logo:hover img, .logo:hover h1{
  cursor: pointer;
  text-shadow: 0 0 10px #fff;

  transition: 300ms;
}

nav .navbar-social {
  display: flex;
  gap: 0.5rem;
}

nav .navbar-social a {
  width: var(--size-logo-ic);
  height: var(--size-logo-ic);
  border-radius: 50%;
  background-color: #201e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;

  text-decoration: none;

  transition: 300ms;
}
nav .navbar-social a i {
  color: #00FF80;
  font-size: var(--size-ic-small);
  transition: 0.5s;
}

nav .navbar-social a i.fa-github {
  color: #fff;
}

nav .navbar-social a i.fa-facebook-f {
  color: #4267B2;
}

nav .navbar-social a i.fa-twitter {
  color: #1D9BF0;
}

nav .navbar-social a i.fa-instagram {
  color: #b734ef;

  /*
  color: conic-gradient(
    #405DE6,
    #5851DB,
    #833AB4,
    #C13584,
    #E1306C,
    #FD1D1D,
    #F56040,
    #F77737,
    #FCAF45,
    #FFDC80,
  );
  */
}

nav .navbar-social a:hover i {
  text-shadow: 0 0 20px #fff;
  font-size: calc(var(--size-ic-small) + 0.1rem);
  transition: 0.2s;
}
  