.canvas-box{
    width: 90%;
    height: 90%;

    display: flex;
    
    background-color: var(--bg-color);
}

canvas{
    flex: 1;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    

    border: 5px solid red;
    border-radius: 10px;
    border-style: double;
    box-shadow: 
    0 0 5px rgba(255, 0, 0, 0.5),
    0 0 10px rgba(255, 0, 0, 0.5),
    0 0 5px rgba(255, 0, 0, 0.5) inset,
    0 0 10px rgba(255, 0, 0, 0.5) inset;

    background-color: var(--bg-color);

}