
body {
  background-image: url("../../resources/images/arlequins.jpg");
  background-size: auto 115%;
  background-attachment: fixed;

  scroll-behavior: smooth;
}

.navbar-links {

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
  position: relative;
  margin-top: 20px;
  justify-content: space-evenly;
  box-sizing: border-box;
  border-radius: 10px;

  /*background-image: url(../../resources/images/arlequins.jpg);*/
  background-size: 100% auto;
  background-position: center 40%;

  font-family: 'Titillium Web', sans-serif;
}

.navbar-link {
  margin: 0 5px;
  padding: 10px;
  border-radius: 4px;
  min-width: 160px;
  max-width: 350px;
  height: 60px;

  flex: 1;

  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.7);
  background-image: url(../../resources/images/arlequins.jpg);
  background-color: transparent;
  filter: blur(1.2px);
  text-decoration: none;

  background-size: 100% auto;
  background-position: center 40%;
  
  cursor: pointer;
  transition: 500ms, background-color 0.2s ease-in-out;
}

.navbar-links .b1{
  background-image: url(../../resources/images/1764661.jpg);
}

.navbar-links .b2{
  background-image: url(../../resources/images/2.png);
}

.navbar-links .b3{
  background-image: url(../../resources/images/7fd7414569d06b8e6e2dee4b86c2d351.jpg);
}

.navbar-links .b4{
  background-image: url(../../resources/images/9e231fd28a384ddfbe9785a68d2534c6.jpg);
}

.navbar-links .b5{
  background-image: url(../../resources/images/ed3037357fc242e393722f20cd010d61.jpg);
}

.navbar-link:hover {
  filter: blur(0px);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.7), 0 0 50px 10px #000 inset;

  transition: 300ms;
}

.navbar-link span {

  font-size: 16px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  text-decoration: inherit;

  filter: blur(50px);

  transition: 500ms;
}

.navbar-link:hover span {
  filter: blur(0px);

  transition: 300ms;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

footer{
  padding: 100px 0px;
  color: #fff;
}