
*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--bg-color);
}

.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

    margin: 0;
    padding: 0;
}

.panel{

    padding: 40px;
    border: 8px solid var(--green);
    border-radius: 20px;
    background: transparent;
    box-shadow: 
    -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    -5px -5px 15px rgba(255, 255, 255, 0.1) inset,
    5px 5px 15px rgba(0, 0, 0, 0.35) inset;

    transition: 0.5s;
}

.panel .Box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    transition: 0.5s;
}

.panel .Box h2{
    color: #fff;
    font-weight: 700;
    font-size: px;
    letter-spacing: 0.1em;
}
.panel .Box h3{
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.1em;
}

.panel .Box{
    position: relative;
    width: 350px;
    transition: 0.5s;
}

.panel .Box input{
    padding: 12px 10px 12px 48px;
    width: 100%;
    background-color: var(--bg-color);
    border: 1px solid var(--green);
    color: #fff;
    font-weight: 300;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: 
    -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);

    transition: 0.5s;
    outline: none;
}

.panel .Box span{
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 48px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);

    transition: 0.5s;
    letter-spacing: 0.06em;
}

.panel .Box input[type="button"]{
    background-color: var(--bg-color);
    color: var(--green);
    padding: 10px 0;
    font-weight: 300;
    cursor: pointer;

    box-shadow: 
    -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    -5px -5px 15px rgba(255, 255, 255, 0.1) inset,
    5px 5px 15px rgba(0, 0, 0, 0.35) inset;

    transition: 0.5s;
}

.panel .Box input[type="button"]:hover{

    background-color: var(--green);
    color: var(--bg-color);
    border: 1px solid var(--bg-color);

    font-weight: 700;

    transition:  0.5s;
}

.panel .actionBox.transaction .outputBox .Box h2{
    justify-content: center;
    align-items: center;
    top: 0;
    flex-direction: column;
}

.panel .Box.balance .outputBox .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.panel .Box.balance .outputBox .content h3{
    width: max-content;
    position: relative;
    left: 0;
}

.panel .Box.balance .outputBox .content span{
    padding: 0 0 0 5px;
    width: max-content;
    position: relative;
    display: flex;
    flex-direction: column;

    font-weight: 500;

    color: var(--purple);
}

.panel .Box.transaction .currencyChangeBox .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.panel .Box.transaction .withdrawBox .content,
.panel .Box.transaction .depositBox .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
