.panel .actionBox.transaction,
.panel .actionBox.balance,
.panel .actionBox.history,

.panel.displayTransaction .actionBox.main,
.panel.displayTransaction .actionBox.balance,
.panel.displayTransaction .actionBox.history,

.panel.displayBalance .actionBox.main,
.panel.displayBalance .actionBox.transaction,
.panel.displayBalance .actionBox.history,

.panel.displayHistory .actionBox.main,
.panel.displayHistory .actionBox.transaction,
.panel.displayHistory .actionBox.balance,

.actionBox.transaction .outputBox *,
.actionBox.transaction.display .inputBox
{
    display: none;

    transition: 0.5s;
}

.panel.displayTransaction .actionBox.transaction,
.panel.displayBalance .actionBox.balance,
.panel.displayHistory .actionBox.history,

.actionBox.transaction.display .outputBox > *,
.actionBox.transaction .inputBox,

.actionBox.transaction.displayCurrencyChange .outputBox .currencyChangeBox *,
.actionBox.transaction.displayCurrencyChange .outputBox .currencyChangeBox,
.actionBox.transaction.displayWithdraw .outputBox .withdrawBox *,
.actionBox.transaction.displayWithdraw .outputBox .withdrawBox,
.actionBox.transaction.displayDeposit .outputBox .depositBox *,
.actionBox.transaction.displayDeposit .outputBox .depositBox,
.actionBox.transaction.displayTransfer .outputBox .transferBox *,
.actionBox.transaction.displayTransfer .outputBox .transferBox
{
    display: flex;

    transition: 0.5s;
}

